<!DOCTYPE html>
<html>
<head>
  <title>CSV File Upload</title>
</head>
<body>
  <h1>Upload a CSV File</h1>
  <form action="/upload/announcement" method="post" enctype="multipart/form-data">
    <input type="file" name="csvFile">
    <input type="submit" value="Upload">
  </form>
</body>
</html>
